<section class="bg-zinc-900 p-20 rounded-xl my-4 ">
    <h2 class="text-5xl font-bold my-5">About us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, sapiente. Modi ex ipsa facilis suscipit. Dolorem beatae hic error ab earum vitae dolorum temporibus odit eligendi odio laboriosam, quidem omnis!</p>
</section>